 .u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-map-1 {
  width: 547px;
  height: 147px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 16px 60px 0 -20px;
}

.u-section-1 .u-icon-1 {
  width: 56px;
  height: 56px;
  margin: 36px auto 0 15px;
}

.u-section-1 .u-text-2 {
  text-align: left;
  font-size: 1.125rem;
  margin: -42px 105px 0 79px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: 54px auto 0 15px;
}

.u-section-1 .u-text-3 {
  margin: -41px 374px 0 79px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -25px auto 0 211px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  margin: -25px 154px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 56px;
  height: 56px;
  background-image: none;
  margin: 60px auto 0 15px;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: -40px 105px 0 79px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 131px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 7px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 379px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-form-1 {
  background-image: none;
  height: 313px;
  width: 510px;
  margin: -16px 0;
}

.u-section-1 .u-btn-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-1 .u-map-1 {
    width: 423px;
    margin-top: 109px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -47px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 218px;
    margin-right: 32px;
    margin-left: 5px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -33px;
    margin-right: 301px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -82px;
    margin-left: 64px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 7px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-4 {
    width: 386px;
    margin-top: -83px;
    margin-right: 32px;
    margin-left: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 344px;
  }

  .u-section-1 .u-form-1 {
    width: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-map-1 {
    width: 324px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 243px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -21px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 207px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 324px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-top: -34px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 230px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}