<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>J&A AQUAMART WEBSITE</title>
	{% load static %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/new.png' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/order.css' %}">

	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
	<input type="checkbox" id="checkbox">
	<header class="header">
		<h2 class="u-name">SIDE <b>BAR</b>
			<label for="checkbox">
				<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
			</label>
		</h2>
		<i class="fa fa-user" aria-hidden="true"></i>
	</header>
	<div class="body">
		<nav class="side-bar">
			<div class="user-p">
				<img src="{% static 'img/new.png' %}">
				<h4>J&A AquaMart <br>Water Refilling Station</h4>
			</div>
			<ul>
				<li>
					<a href="#">
						<i class="fa fa-home" aria-hidden="true"></i>
						<a href="{% url 'index' %}"><span>Home</span></a>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
						<a href="{% url 'orderslip' %}"><span>Order</span></a>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="{% url 'contact' %}"><span>Contact</span></a>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						<a href="{% url 'about' %}"><span>About</span></a>
					</a>
				</li>
			</ul>
		</nav>
		<div class="container">
			<div class="card">
				<div class="shoeBackground">
					<div class="gradients">
						<div class="gradient second" color="blue"></div>
						<div class="gradient" color="red"></div>
						<div class="gradient" color="green"></div>
						<div class="gradient" color="orange"></div>
						<div class="gradient" color="black"></div>
					</div>
					<h1 class="nike">j&a <br>aquamart</h1>
					<!--<img src="img/logo.png" alt="" class="logo">-->
					<!--<a href="#" class="share"><i class="fas fa-share-alt"></i></a>-->
	
					<img src="{% static 'img/1.png' %}" alt="" class="shoe show" color="blue">
					<img src="{% static 'img/2.png' %}" alt="" class="shoe" color="red">
					<img src="{% static 'img/3.png' %}" alt="" class="shoe" color="green">
					<img src="{% static 'img/4.png' %}" alt="" class="shoe" color="orange">
					<img src="{% static 'img/5.png' %}" alt="" class="shoe" color="black">
	
				</div>
				<div class="info">
					<div class="shoeName">
						<div>
							<h1 class="big">1 Gallon</h1>
							<span class="new">purified</span>
						</div>
						<h3 class="small">Drinking Water</h3>
					</div>
					<div class="description">
						<h3 class="title">Product Info</h3>
						<p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
					</div>
					<div class="color-container">
						<h3 class="title">size</h3>
						<div class="colors">
							<span class="color active" primary="#0f5e9c" color="blue" style="text-align: center;"><br>1Gallon</span>
							<span class="color" primary="#2389da" color="red" style="text-align: center;"><br>1Gallon</span>
							<span class="color" primary="#1ca3ec" color="green" style="text-align: center;"><br>Half</span>
							<span class="color" primary="#5abcd8" color="orange" style="text-align: center;"><br>500ml</span>
							<span class="color" primary="#74ccf4" color="black" style="text-align: center;"><br>350ml</span>
						</div>
						<!--<script>
							document.getElementById("green").onclick = function() {
								document.getElementById("big1").innerHTML = "Half Gallon"
							}
						</script>-->
					</div>
					<div class="size-container">
						<h3 class="title">quantity</h3>
						<div class="sizes">
							<div class="wrapper">
								<span class="minus">-</span>
								<span class="num">01</span>
								<span class="plus">+</span>
							  </div>
							  <script>
							   const plus = document.querySelector(".plus"),
								minus = document.querySelector(".minus"),
								num = document.querySelector(".num");
								let a = 1;
								plus.addEventListener("click", ()=>{
								  a++;
								  a = (a < 10) ? "0" + a : a;
								  num.innerText = a;
								});
							
								minus.addEventListener("click", ()=>{
								  if(a > 1){
									a--;
									a = (a < 10) ? "0" + a : a;
									num.innerText = a;
								  }
								});
							
							  </script>
						</div>
					</div>
					<div class="buy-price">
						<a href="#" class="buy"><i class="fas fa-shopping-cart"></i> order</a>
						<div class="price">
							<!--<i class="fas fa-dollar-sign"></i>-->
							<h1>&#8369;25.00</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'js/app.js' %}"></script>
	</div>

</body>
</html>
